<!DOCTYPE html>
<html>
	<head>
		<title>Ted Poe</title>
	</head>
  
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi,</h1>
				    <p>I'm starting to document the work that I do with Linux and EnergyPlus <a href="/about">Read more about my life...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:ted.poe@gmail.com">email</a></li>
        		<li><a href="https://github.com/tedpoe">github.com/tedpoe</a></li>
			</ul>
		</footer>
	</body>
  
</html>
